<div class="card col-sm-11 mr-auto ml-auto mb-4" style="margin-top: 50px;">
    <!-- <div class="card-header">
        This is admin
    </div> -->
    <div class="card-body">
        <h4 class="text-muted mb-4 mt-4" style="font-size: 1.5rem;">We provide a range of service at ease for you to manage
            your
            business.</h4>
        <div class="d-flex justify-content-center mt-4 mb-4">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link color" routerLinkActive="active" routerLink='check-in'>Check-In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color" routerLink='view-passenger' routerLinkActive="active">View Passengers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color" routerLink='manage-passenger' routerLinkActive="active">Manage Ancillary Services</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>