<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-b-50">
            <span class="login100-form-title p-b-33">
                Account Login
            </span>
            <p>Kindly login with your google account</p>
            <div class="row">
                <div class="col-md-12 col-sm-12 d-flex justify-content-center">
                    <a class="btn" (click)="this.authenticator.GoogleLogin()" role="button"
                        style="text-transform:none;border: 1px;border-style: solid;">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                            src="./assets/images/google.png" />
                        Login with Google
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>